{% extends "base.html" %}
{% block content %}
<div>
        <table>
            <tr>
                <th> Permit Type </th>
                <th> Number of Days a Week </th>
                <th> Number of Semesters </th>
                <th> Price </th>
            </tr>
            {% for row in rows %}
                <tr>
                    {% for col in row %}
                        <td> {{ col.content }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}