{% extends 'base.html' %}
{% block content %} 
<form action = "" method = "POST" enctype="multipart/form-data" novalidate >
    {{ form.hidden_tag() }}
<p>
        School ID
        {{ form.criteria(size=32)}} &nbsp {{ form.search() }}
</p>
</form>
    <table>
        <tr>
            <th>School ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Type of Holder</th>
            <th>Car Model</th>
            <th>Year </th>
            <th>Color </th>
            <th>Type of Car</th>
            <th>Lisense Plate</th>
            <th>Start Date</th>
            <th>End date</th>
            <th>Days of the Week</th>
        </tr>
        {% for row in rows %} 
            <tr>
                {% for col in row %} 
                    <td> {{ col }} </td>
                {% endfor %}
            </tr>
        {% endfor %} 
    </table>
{% endblock %} 